/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }
/* end styles reset */
  body{
    background-color: #1e293b;
    color: white;
    font-family: "Roboto", serif;
  }


  h1{
    text-align: center;
    padding:1rem;
    font-size: 2.5rem;
  }

  .add-btn{
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
  }

  .library{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    /* grid-template-rows: repeat(auto-fit,250px); */
    padding: 5rem;
    gap:1rem;
  }

  .book-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .book{
    background-image: url(./assets/book.svg);
    background-size: contain;
    background-repeat: no-repeat;

    color: black;
    height: 16rem;
    position: relative;
    transition: all 1seg;
  }

  .book-info{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    height: 100%;
  }

  .title, .author{
    text-align: center;
    font-family: "Cookie", cursive;
    font-size: 1.6rem;
    line-height: 1.5rem;
  }

  .btns-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btns-container button{
    border-radius: 20px;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    font-weight: bold;
    width: 5.7rem;

    line-height: 1.2rem;

  }

  .read-tag{
    background:#0284c7;
    color:white;
    border-radius:20px;
    position: absolute;
    top:0;
    right: 0;
    padding: 0.2rem 1rem;
    border: 2px solid black;
    font-weight: bold;
    transition: all 1s;
    visibility: hidden;

  }

  .book .read-tag{
    opacity: 0;
  }

  .book.read .read-tag{
    visibility: visible;
    opacity: 1;
  }

  form,
  form div{
    display: flex;
    flex-direction: column;
  }

  form{
    gap: 1rem;
  }
  dialog{
    border-radius: 20px;
    margin: auto;
    /* gap:1.5rem; */
  }

  form[method="dialog"]{
    position: absolute;
    top: 5px;
    right: 5px;
  }

  form[method="dialog"] button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
  }

  .read_section{
    display: block;
  }

  input[type="checkbox"]{
    cursor: pointer;
    margin-left: 1rem;
  }

  .save_btn{
    border-radius: 10px;
    padding: 0.2rem 1rem;
    font-weight: bold;
    cursor: pointer;
  }




